<h1> Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**  
* popular languages that Data Scientists use are
* libraries used by Data Scientists
* Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras.
3. Pandas.
4. PyTorch.
5. SciPy.

|Data Science Tools|
|---|
Jupyter Notebook
Apache Spark
RStudio

### Below are a few examples of evaluating arithmetic expressions in Python

In [19]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [20]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Nahorna Kateryna